@import "bubble.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --green: #189b7c;
    font-size: 18px;
}

body{
    background-color: #1a1e23;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    
}

main{
    margin-left: 15%;
    margin-right: 15%;
    background-color: transparent;
}

.green{
    color: var(--green);
}

.btn{
    border-color: var(--green);
    color: var(--green);
    transition: .3s ease-in;
}

.btn:hover{
    border-color: var(--green);
    background-color: #189b7c36;
}

.navbar-toggler{
    border-color: var(--green);
    transition: .3s ease-in-out;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus,
.navbar-toggler:hover {
    outline: none;
    box-shadow: none;
    background-color: var(--green);
}

.navbar-brand, .nav-link{
    color: white;
    transition: .3s ease-in;
}

.nav-link{
    display: inline-block;
    position: relative;
    font-weight: 300;
}

.nav-link:hover{
    color: var(--green);
}

.nav-link::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: .1em;
    background-color: var(--green);
    transition: transform .3s ease-in;
    transform: scale(0);
    transform-origin: center;
}

.nav-link:hover::after{
    transform: scale(1);
}

#home{
    margin-top: 10%;
}

.section-content{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.big-txt{
    font-size: 1.8rem;
}

.light-txt{
    width: 80%;
    color: #acacac;
    word-wrap: break-word;
}

@media (min-width: 768px){
    main{
        margin-left: 20%;
        margin-right: 20%;
    }

    #home{
        margin-top: 10%;
    }
    
    .section-content{
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    
    .big-txt{
        font-size: 2.2rem;
    }
}

@media (min-width: 992px){
    .big-txt{
        font-size: 3rem;
    }
}