.iconActive {
  transform: rotate(180deg);
}

.fadeInDown {
  animation: fadeInDown 0.5s;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
